#shop-page {
  margin-top: 30px;
}
#shop-page h4 {
  color: #0d7a0d;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  letter-spacing: 0.2rem;
}
#shop-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d2f61;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}
#shop-page-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 4px 4px 0px 0px;
}
#shop-card-price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 15px;
}

#shop-card-priceA {
  text-decoration: line-through;
  color: #1d2f61;
  font-style: italic;
  font-family: "Raleway", serif;
}
#shop-card-priceB {
  color: #0d7a0d;
  font-weight: 600;
  font-family: "Raleway", serif;
  cursor: pointer;
}
@media (max-width: 750px) {
  #shop-page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #1d2f61;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    margin: 8px 0px;
  }
  #shop-page-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 4px 4px 0px 0px;
  }
}
