#about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  height: 50vh;
  background-image: linear-gradient(
      to right,
      #f1975b9e,
      #1d2f6186,
      #1d2f61a4,
      #f1975b94
    ),
    url("../../assets/home02.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
#about-page h4 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
#about-page-card h2{
  color:#0b5d0b;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
#about-page-card h3{
  color: #0b5d0b;
  font-weight: 200;
  font-family: "Raleway", serif;
  text-align: center;
}
#about-team-card h2{
  color:#0b5d0b;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-top: 25px;
}
#team-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
background-color: transparent;
}
#team-card img{
width: 100%;
height: 200px;
object-fit: contain;
}
#team-card p{
margin: 5px;
font-weight: 600;
}
#team-card h6{
color: #1d2f61;
font-family: "Bebas Neue", serif;
font-weight: 700;
letter-spacing: 0.2rem;
  margin-top: 5px;
  }
  #team-card-icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #team-icons{
    margin: 0px 10px;
    font-size: 20px;
    color: #0b5d0b;
    cursor: pointer;
  }
#about-page-box {
  margin-top: 20px;
}
#about-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-page-cardbanner{
display: flex;
align-items: center;
justify-content: center;
  margin-top: 20px;
  height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../assets/home03.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
#about-page-cardbannercard{
  background-color: #0b5d0b;
  padding: 40px 20px;
}
#about-page-cardbannercard h2{
color: #dcdcdc;
font-family: "Bebas Neue", serif;
font-weight: 700;
letter-spacing: 0.2rem;
line-height: 3rem;
text-align: center;
}
#about-page-cardbannercardli{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #0b5d0b;
}
#about-page-cardbannercardli ul li{
  color: #dcdcdc;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 25px;
  line-height: 3rem;
}
#asked-qtns{
  margin-top: 25px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
#asked-qtns h2{
  color: #0b5d0b;
  margin-top: 15px;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;

}
.accordion-button{
  color: #1d2f61;
  font-weight: 600;
  font-family: "Raleway", serif;
}
@media (max-width: 750px) {
    #about-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 100px;
        height: 40vh;
        background-image: linear-gradient(
          to right,
          #f1975b9e,
          #1d2f6186,
          #1d2f61a4,
          #f1975b94
        ),
        url("../../assets/home02.jpeg");
      }
      #about-small{
        display: none;
      }
      #team-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        margin: 8px 0px;
      
      }
      #about-page-cardbanner{
        display: flex;
        align-items: center;
        justify-content: center;
          margin-top: 20px;
          height: auto;
          background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7)
            ),
            url("../../assets/home03.jpeg");
          background-position: center;
          background-attachment: fixed;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 4px;
          padding: 15px;
        }
        #about-page-cardbannercardli{
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid #0b5d0b;
        }
        #about-page-cardbannercard h2{
          color: #dcdcdc;
          font-family: "Bebas Neue", serif;
          font-weight: 700;
          letter-spacing: 0.2rem;
          line-height: 2rem;
          text-align: center;
          }
     
}