#footer-page {
  background-color:  #1d2f61;
  margin-top: 20px;
  padding-top: 20px;
}
#footer-page h4 {
  color: #f1975b;
  text-align: center;
  font-weight: 700;
  font-family: "Bebas Neue", serif;
  margin-bottom: 40px;
  letter-spacing: 0.2rem;
}
#footer-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-page-card h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", serif;
  color: #faebd7;
  margin-bottom: 15px;
  font-weight: 700;
}
#footer-page-card p {
  color: #fff;
  line-height: 2.5rem;
}
#footer-icons-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #dcdcdc6d;
  padding-bottom: 10px;
}
#footer-icon{
    font-size: 25px;
    color: #f1975b;
    margin: 5px 10px;
    cursor: pointer;
}
#footer-rtys small{
  color: #f1975b;
}
#footer-page-card img{
width: 150px;
height: 100px;
object-fit: contain;
margin-bottom: 20px;
}