#testimony-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimony-top-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}
#testimony-top-card h2 {
  text-align: center;
  color: #0d7a0d;
  font-weight: 200;
  font-family: "Raleway", serif;
}
#testimonial-header {
  margin-top: 50px;
}
#testimonial-offer {
  border: 2px solid transparent;
  border-image: linear-gradient(to right,  #1d2f61, #0d7a0d,#1d2f61) 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
  padding: 30px;
}
#testimonial-offer h4 {
  background: -webkit-linear-gradient(0deg,#1d2f61, #0d7a0d,#1d2f61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 25px;
}
#testimonial-offer p {
  color: #1d2f61;
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", serif;
}
#testimonial-offer-icon{
  color: #1d2f61;
  font-size: 30px;
  margin-bottom: 20px;
}
#testimonial-header h4 {
  color: #0d7a0d;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  font-family: "Bebas Neue", serif;
  letter-spacing: 0.2rem;
}
#testimonial-header p {
  color: #3a3a3a;
  text-align: center;
}
#testimonial-card {
  border-radius: 4px;
  margin: 0px 2px;
  height: 300px;
  background-image: linear-gradient(to bottom, #1d2f61, #1d2f61);
}
#testimonial-card-star {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimonial-card p {
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", serif;
}
#testimonial-card-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#testimonial-card-user h5 {
  color: antiquewhite;
  font-family: "Raleway", serif;
}
#testimonial-rate-star {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 750px) {
  #testimonial-offer {
    border: 2px solid transparent;
    border-image: linear-gradient(to right,  #1d2f61, #0d7a0d,#1d2f61) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0px;
    padding: 15px;
  }
 
  #testimonial-card p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", serif;
  }
}